<!DOCTYPE html>

<html>
  <head>
    <!-- bootstrap css 적용 -->
    {% load static %}
    <link type='text/css' rel='stylesheet' href='{% static "bootstrap.min.css" %}' />
    <link type='text/css' rel='stylesheet' href='{% static "bootstrap.css" %}' />
    <link type='text/css' rel='stylesheet' href='{% static "login.css" %}' />
  </head>

  <body>
    <div class='container'>
      <form class='form-horizontal' method='POST' action='../createUser'>
        {% csrf_token %}
        <div class='form-group'>
          <label for="inputId" class="col-xs-4 col-md-4 control-label">ID</label>
          <div class='col-xs-4 col-md-4'>
            <input class="form-control" type='text' name='id' id='inputId'>
          </div>
        </div>
        <div class='form-group'>
          <label for="inputPw" class="col-xs-4 col-sm-4 control-label">PW</label>
          <div class='col-xs-4 col-md-4'>
            <input class="form-control" type='password' name='pw' id='inputPw'>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-xs-offset-4 col-md-offset-4 col-xs-10 col-md-10'>
            <button class="btn btn-default" type='submit'> 가입 </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>