    {% extends 'my_board/base.html' %}    
    {% block content %}
    <div class='container'>
      <form action='../create' method='POST'>
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputPassword1">작성 날짜</label>
          <input type="date" class="form-control" id='now_date' name='createDate' value="{{post.createDate|date:'y-m-d'}}" readonly>
          <script>
            document.getElementById('now_date').valueAsDate = new Date();
          </script>

        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">작성자</label>
          <input type="text" class="form-control" placeholder="작성자" name='user' value='{{post.writer}}' readonly>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">글 제목</label>
          <input type="text" class="form-control" name='subject' value='{{post.subject}}' readonly>
        </div>
        <div class="form-group">
          <label for="exampleInputFile">게시글</label>
          <textarea class="form-control" rows=10 name='content' readonly>{{post.content}}</textarea>
        <!-- <button type="submit" class="btn btn-default">등록</button> -->
        </div>
        <!-- 댓글 기능 구현?? -->
        <div>
          <label for="exampleInputFile">댓글</label>
          <tr>
            <th style='width: 5%'> 번호 </th>
            <th style='width: 10% '> 작성날짜 </th>
            <th style='width: 10%'> 작성자 </th>
            <th> 댓글 </th>

            <th style='width: 5%'> </th>
            <th style='width: 5%'> </th>
          </tr>
          {% for row in reply %}
          {{row.content}}
          <input type="text" class="form-control" name='reply'>
          <button type="submit" class="btn btn-default">등록</button>
          {% endfor %}
        </div>
      </form>
    </div>
    {% endblock %}